doctype 5
html
  head
    title 内啥

    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    link(rel='stylesheet', href='//cdn.staticfile.org/twitter-bootstrap/3.0.3/css/bootstrap.min.css')
    link(rel='stylesheet', href='/static/css/flat-ui.css')

    link(rel='stylesheet', href='/assets/css/general.css')
    link(rel='stylesheet', href='/assets/css/index.css')

    script(src='//cdn.staticfile.org/jquery/2.0.3/jquery.min.js')
    script(src='//cdn.staticfile.org/underscore.js/1.5.2/underscore-min.js')
    script(src='/assets/js/index.js')

  body
    div.navbar.navbar-inverse
      p.brand.pull-left 内啥：排课神器
      p.logged.pull-right
        a(href='javascript:void')#refresh 重新加载课表
        | &nbsp; | &nbsp;
        | #{logged.username}
        | &nbsp;
        a(href='/signout') 注销

    ul#availables.palette-peter-river

    div#schedule
      table
        tr
          th
          th(width='18%') 周一
          th(width='18%') 周二
          th(width='18%') 周三
          th(width='18%') 周四
          th(width='18%') 周五

        times = [ '09:00 - 10:20', '10:40 - 12:00', '12:30 - 13:50', '14:00 - 15:20', '15:30 - 16:50', '17:00 - 18:20', '19:00 - 20:20', '20:30 - 21:50' ]

        each timeName, time in times
          tr(data-time='#{time}')
            th
              div #{time * 2 + 1} - #{time * 2 + 2}
              div #{timeName}
            - for (var day = 0; day < 5; day++)
              td(data-day='#{day}'): ul
